


.auction_image {
    width: 200px;
}

.active_auction {
    color: black;
    background-color: aquamarine;
    width: fit-content;
}

.ending_auction {
    background-color: red;
    width: fit-content;
}

.won_auction {
    background-color: green;
    width: fit-content;
}

