<!DOCTYPE html>
<html lang="en">
<h1 hidden id="xsrf_token">{{ xsrf_token }}</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Auctions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oranienbaum&display=swap" rel="stylesheet">
    <link href="static/auctions_page.css" rel="stylesheet" type="text/css" />
</head>
  
  <body>
    
    <nav>
      <div class="nav-bar">
        <a href="/home" id="goHome">Home</a>
        <a href="/create" id="goToCreate">Create Auction</a>
        <a href="/user/{{ id }}" id="goToProfile">Profile</a>
      </div>
    </nav>

    <div class="line-break">
      <h1>AUCTIONS DISPLAYED BELOW</h1>
    </div>

    <div id="Auctions"></div>

    <div class="line-break"></div>

    <script src="/js/auctions_page.js"></script>
  </body>

</html>