<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oranienbaum&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="line-break">
    <h1>EXCALIBUR  AUCTION  HOUSE</h1>
  </div>
  <div class="header">
    <img src="static/images/auction.jpg" alt="people-holding-bid-signs">
    <div class="forms-container">
      <div class="form-card">
        <form action="/signup" id="sign-up" method="post">
            <h1>Register</h1>
            <label for="new_username">Username: </label><br>
            <input id="new_username" type="text" name="new_username" size=30><br>
            <br/>
            <label for="new_password">Password: </label><br>
            <input id="new_password" type="password" name="new_password" size=30>
            <br><br>
            <input type="submit" value="Sign Up">
        </form>
      </div>

      <div class="form-card">
        <form action="/login" id="Log-in" method="post">
            <h1>Login</h1>
            <label for="username">Username: </label><br>
            <input id="username" type="text" name="username" size=30><br>
            <br />
            <label for="password">Password: </label><br>
            <input id="password" type="password" name="password" size=30>
            <br><br>
            <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
  <div class="line-break"></div>
</body>
</html>